<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>Product name</th>
    <th>Attributes</th>
  </tr>
  </thead>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>
        <ul class="list-group">
          <% product.product_attributes.each do |attr| %>
            <li class="list-group-item"><%= attr.category_filter.name %>: <%= attr.value %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>